# Environment variables
.env

# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local database
database/*.db
*.db

# Uploaded resumes
resumes/*
!resumes/.gitkeep

app/resumes/*
!app/resumes/.gitkeep